<%- include("header") %>

<div class="box" id="heading">
  <h1><%=title %></h1>
</div>



<div class="box">

  <% myItems.forEach( (item) => { %>
    <form action="/delete" method = "POST">
      <div class="item">
        <input type = "checkbox" onChange="this.form.submit()" name="listItem" value="<%=item._id%>">
        <p><%= item.item %> </p>
      </div>
      <input hidden="true" name = "listName" value=<%=title%>>
    </form>
  <% }) %>


    <form action="/" method="POST" class="item">
      <input
        type="text"
        name="addItem"
        placeholder="New Item"
        autocomplete="off"
      />
      <button type="submit" name="listName" value=<%=title%> >+</button>
    </form>
  
</div>


<%- include("footer") %>
